<html>
  <body>
    <p>{{t 'email.emailVerification.helloPhrase'}} {{email}},</p>
    <p>{{t 'email.emailVerification.thankPhrase'}}<span>&nbsp;<strong>{{otp}}</strong></span></p>
    <p>{{t 'email.emailVerification.enterCodePhrase'}}</p><p>{{t
        'email.emailVerification.regard'
      }}<br />{{t 'email.emailVerification.supportTeam'}}</p>
  </body>
</html>